:root {
  --color-primary-blue: #8dc6e8;
  --color-primary-dark-blue: #4babd6;
  --color-secondary-gray: #898a8d;
  --color-secondary-light-gray: #9d9c9c;
  --color-secondary-dark-gray: #636569;
  --color-tertiary-green: #e3f3f3;
  --color-tertiary-dark-green: #cee7e8;

  --font-primary: "Open Sans", sans-serif;
  --font-secondary: "Proxima Nova", sans-serif;
}

html {
  font-family: var(--font-primary);
}

h1 {
  font-family: var(--font-secondary);
  color: var(--color-secondary-dark-gray);
}

h2 {
  font-family: var(--font-secondary);
  color: var(--color-secondary-dark-gray);
}

h3 {
  font-family: var(--font-secondary);
  color: var(--color-secondary-dark-gray);
}

h4 {
  font-family: var(--font-secondary);
  color: var(--color-secondary-dark-gray);
  font-weight: 800;
}

h5 {
  font-family: var(--font-secondary);
  color: var(--color-primary-blue);
}

h6 {
  font-family: var(--font-secondary);
  color: var(--color-primary-blue);
}

p {
  color: var(--color-secondary-gray);
}

a {
  font-family: var(--font-secondary);
  color: var(--color-secondary-gray);
}

a:hover {
  color: var(--color-primary-dark-blue);
}

.a-dark {
  color: var(color-secondary-dark-gray);
}

.a-dark:hover {
  color: var(--color-primary-dark-blue);
}

mark {
  background-color: var(--color-tertiary-dark-green);
}

strong {
  color: var(color-primary-dark-blue);
}

.semi-bold {
  font-family: var(--font-secondary);
  font-weight: 600;
}

.dark-gray {
  color: var(--color-secondary-dark-gray);
}

.main-blue {
  color: var(--color-primary-blue);
}

.proxy-nova {
  font-family: var(--font-secondary);
}

.jm-exa {
  font-size: 4.5rem;
  line-height: 7.475rem;
}

.jm-peta {
  font-size: 3.2rem;
  line-height: 5.2rem;
}

.jm-tera {
  font-size: 2.45rem;
  line-height: 3.9rem;
}

.jm-giga {
  font-size: 1.68rem;
  line-height: 2.6rem;
}

.jm-mega {
  font-size: 1.25rem;
  line-height: 1.95rem;
}

.jm-kilo {
  font-size: .825rem;
  line-height: 1.3rem;
}
