:root {
  --color-primary-blue: #8dc6e8;
  --color-primary-dark-blue: #4babd6;
  --color-secondary-gray: #898a8d;
  --color-secondary-dark-gray: #636569;
  --color-tertiary-green: #e3f3f3;
  --color-tertiary-dark-green: #Cee7e8;

  --font-primary: "Open Sans", sans-serif;
  --font-secondary: "Proxima Nova", sans-serif;
}

html {
  font-family: var(--font-primary);
}

h1 {
  font-family: var(--font-secondary);
  color: var(--color-secondary-gray);
}
