.footer-background {
  background-color: white;
}

.push-r {
  margin-right: 1.3rem;
}

.jm-i-128 {
  height: 50px;
  width: 128px;
}

@media only screen and (min-width: 38em) {

  .align-left {
    text-align: left;
  }

  .align-right {
    text-align: right;
  }

  .no-pad-t {
    padding-top: 0;
    padding-bottom: 0;
  }

  .no-pad-b {
    padding-bottom: 0;
  }

  .push-r-1-4 {
    margin-right: 0.65rem;
  }

}

@media only screen and (min-width: 60em) {

  .jm-i-192 {
    height: 49.52px;
    width: 160px;
  }

}

@media only screen and (min-width: 156em) {

  .jm-milli-xxl {
    font-size: .825rem;
    line-height: 1.3rem;
  }

  .jm-micro-xxl {
    font-size: .7072rem;
    line-height: 1.3rem;
  }

  .i-28 {
    width: 28px;
    height: 28px;
  }

}
