.btn {
  border-color: var(--color-primary-gold);
  color: var(--color-secondary-gray);
  border-color: var(--color-secondary-gray);
  border-radius: 8px;
}

.btn:hover {
  border-color: var(--color-primary-dark-blue);
  color: var(--color-primary-dark-blue);
}
