.btn {
  background-color: transparent;
  color: var(--color-secondary-light-gray);
  border-color: var(--color-secondary-light-gray);
  border-radius: 20px;
  border-width: 3.4px;
  padding: 0.375rem 1.275rem;
  font-family: var(--font-secondary);
  font-weight: 700;
}

.btn:hover {
  background-color: transparent;
  border-color: var(--color-primary-dark-blue);
  color: var(--color-primary-dark-blue);
}

@media only screen and (min-width: 38em) {

  .jm-kilo {
    font-size: .825rem;
    line-height: 1.3rem;
  }

  .jm-giga {
    font-size: 1.68rem;
    line-height: 1.3rem;
  }

}
