.drop-shadow {
  background-color: white;
  box-shadow: 0 3px 12px -7px rgba(0,0,0,0.20);
}

.masthead {
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

.dark-gray {
  color: var(--color-secondary-dark-gray);
}

.pad-l-isl {
  padding-left: 1.4rem;
}

.pad-r-isl {
  padding-right: 1.4rem;
}

.pad-l-gut {
  padding-left: 1.3rem;
}

.pad-r-gut {
  padding-right: 1.3rem;
}

.pad-t {
  padding-top: 1.3rem;
}

.pad-b-1-2 {
  padding-bottom: .65rem;
}

.i-40 {
  height: 40px;
  width: 40px;
}

@media only screen and (min-width: 38em) {

  .i-30 {
    height: 30px;
    width: 30px;
  }

  .nav {
    text-align: right;
  }

  .logo-nav {
    text-align: left;
  }

  .no-pad-t {
    padding-top: 0;
  }

  .no-pad-b {
    padding-bottom: 0;
  }

  .icon-pad {
    padding: .545rem;
  }

  .no-pad-t-m {
    padding-top: 0;
  }

}

@media only screen and (min-width: 60em) {

  .i-35 {
    height: 35px;
    width: 35px;
  }


}

@media only screen and (min-width: 156em) {

  .i-38 {
    height: 38px;
    width: 38px;
  }

  .btn {
    border-radius: 22px;
    border-width: .193rem;
    padding: 0.35rem 1.2rem;
  }

}
