.drop-shadow {
  background-color: white;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,0.25);
}

.masthead {
  position: absolute;
}

.dark-gray {
  color: var(--color-secondary-dark-gray);
}

.pad-l-isl {
  padding-left: 1.4rem;
}

.pad-r-isl {
  padding-right: 1.4rem;
}

.pad-l-gut {
  padding-left: 1.3rem;
}

.pad-r-gut {
  padding-right: 1.3rem;
}

@media only screen and (min-width: 38em) {

  .nav {
    text-align: right;
  }

  .logo-nav {
    text-align: left;
  }

  .no-pad-b {
    padding-bottom: 0;
  }

  .no-pad-t {
    padding-top: 0;
  }

  .icon-pad {
    padding: .545rem;
  }

}
