/* Eagle's Nest colours */
.eagles-red {
  border-radius: 25px;
  background: #C01823;
  padding: 6px;
}

.colour-black {
  border-radius: 25px;
  background: #000000;
  padding: 6px;
}

/* TGI's colours */
.tgi-gray-light {
  border-radius: 25px;
  background: #898A8D;
  padding: 6px;
}

.tgi-gray-dark {
  border-radius: 25px;
  background: #54565A;
  padding: 6px;
}

.tgi-beige-dark {
  border-radius: 25px;
  background: #F1D09F;
  padding: 6px;
}

.tgi-beige-light {
  border-radius: 25px;
  background: #F4F0EA;
  padding: 6px;
}

/* Anocate's colours */
.anocate-blue-light {
  border-radius: 25px;
  background: #DEF5FF;
  padding: 6px;
}

.anocate-blue-colour {
  border-radius: 25px;
  background: #71B7E5;
  padding: 6px;
}

.anocate-blue-dark {
  border-radius: 25px;
  background: #428CBF;
  padding: 6px;
}

.anocate-gray-light {
  border-radius: 25px;
  background: #FAFAFA;
  padding: 6px;
}

.anocate-gray-dark {
  border-radius: 25px;
  background: #8C8C8C;
  padding: 6px;
}

/* Evolve's colours */
.evolve-pink-c {
  border-radius: 25px;
  background: #E81F76;
  padding: 6px;
}

.evolve-purple-c {
  border-radius: 25px;
  background: #5C0F8B;
  padding: 6px;
}

.evolve-gradient-1 {
  border-radius: 25px;
  background-image: linear-gradient(to right, rgba(232,31,118,100), rgba(92,15,139,100));
  padding: 6px;
}

.evolve-gradient-2 {
  border-radius: 25px;
  background-image: linear-gradient(to right, rgba(35,8,113,100), rgba(213,0,139,87));
  padding: 6px;
}

/* Fahel & Co colours */
.fahel-green {
  border-radius: 25px;
  background: #74BF48;
  padding: 6px;
}

.fahel-green-dark {
  border-radius: 25px;
  background: #32710E;
  padding: 6px;
}

.fahel-green-light {
  border-radius: 25px;
  background: #A1DD7E;
  padding: 6px;
}

.fahel-gray {
  border-radius: 25px;
  background: #C9C9C9;
  padding: 6px;
}

.fahel-gray-light {
  border-radius: 25px;
  background: #F1F1F1;
  padding: 6px;
}

.fahel-gray-dark {
  border-radius: 25px;
  background: #454545;
  padding: 6px;
}

/* Autism World Travel colours */
.awt-blue {
  border-radius: 25px;
  background: #99DAE8;
  padding: 6px;
}

.awt-yellow {
  border-radius: 25px;
  background: #FCD561;
  padding: 6px;
}

.awt-orange {
  border-radius: 25px;
  background: #FFA16E;
  padding: 6px;
}

.awt-green-light {
  background-color: #e3f3f1;
}

/* Working method */
.tinted-image {
  background:
    /* top, transparent colour, faked with gradient */
    linear-gradient(
      rgba(226, 255, 255, 0.9),
      rgba(227, 243, 241, 0.9)
    ),
    /* bottom, image */
    url(../images/banners/large/awt-banner.jpg);
}

.awt-blue-light {
  background-color: #eff9fe;
}

.awt-yellow-light {
  background-color: #fffcdf;
}

.awt-orange-light {
  background-color: #fff7e5;
}

/* End of Case Study Colours */

.blue-gradient {
  background-image: linear-gradient(rgba(255,255,255,0), rgba(241,250,254,100));
}

.how-i-work-gradient {
  background-image: linear-gradient(to right, rgba(255,255,255,100), rgba(247,252,254,100), rgba(231,245,252,100));
}

.white-background {
  background-color: white;
}

.gray-gradient {
  background-image:
    linear-gradient(to bottom, rgba(255,255,255,0) 0, rgba(255,255,255,0) calc(100% - 7.05em), white calc(100% - 7em), white 100%),
    linear-gradient(to right, rgba(255,255,255,100), rgba(243,243,243,100), rgba(219,218,218,100))
  ;
  background-size: cover;
  /* height: 380px; */
  /* width: 100vw; */
  margin-top: 0rem;
}

.gray-gradient-objective {
  background-image:
    linear-gradient(to bottom, rgba(255,255,255,0) 0, rgba(255,255,255,0) calc(100% - 10.05em), white calc(100% - 10em), white 100%),
    linear-gradient(to right, rgba(255,255,255,100), rgba(243,243,243,100), rgba(219,218,218,100))
  ;
  background-size: cover;
  /* height: 380px; */
  /* width: 100vw; */
  margin-top: 0rem;
}

.gray-gradient-problem {
  background-image: linear-gradient(to right, rgba(255,255,255,100), rgba(243,243,243,100), rgba(219,218,218,100));
}

@media only screen and (min-width: 25em) {

  .gray-gradient {
    background-image:
      linear-gradient(to bottom, rgba(255,255,255,0) 0, rgba(255,255,255,0) calc(100% - 9.05em), white calc(100% - 9em), white 100%),
      linear-gradient(to right, rgba(255,255,255,100), rgba(243,243,243,100), rgba(219,218,218,100))
    ;
  }

  .gray-gradient-objective-s {
    background-image:
      linear-gradient(to bottom, rgba(255,255,255,0) 0, rgba(255,255,255,0) calc(100% - 12.05em), white calc(100% - 12em), white 100%),
      linear-gradient(to right, rgba(255,255,255,100), rgba(243,243,243,100), rgba(219,218,218,100))
    ;
    background-size: cover;
    /* height: 380px; */
    /* width: 100vw; */
    margin-top: 0rem;
  }

}

@media only screen and (min-width: 38em) {

  .gray-gradient {
    background-image:
      linear-gradient(to bottom, rgba(255,255,255,0) 0, rgba(255,255,255,0) calc(100% - 12.05em), white calc(100% - 12em), white 100%),
      linear-gradient(to right, rgba(255,255,255,100), rgba(243,243,243,100), rgba(219,218,218,100))
    ;
  }

  .no-pad-t-m {
    padding-top: 0;
  }

}

@media only screen and (min-width: 60em) {

  .gray-gradient {
    background-image:
      linear-gradient(to bottom, white 0, white 3em, rgba(255,255,255,0) 3.05em, rgba(255,255,255,0) 100%),
      linear-gradient(to bottom, rgba(255,255,255,0) 0, rgba(255,255,255,0) calc(100% - 3.05em), white calc(100% - 3em), white 100%),
      linear-gradient(to right, rgba(255,255,255,100), rgba(243,243,243,100), rgba(219,218,218,100))
    ;
  }

  .gray-gradient-objective-l {
    background-image:
      linear-gradient(to bottom, rgba(255,255,255,0) 0, rgba(255,255,255,0) calc(100% - 7.05em), white calc(100% - 7em), white 100%),
      linear-gradient(to right, rgba(255,255,255,100), rgba(243,243,243,100), rgba(219,218,218,100))
    ;
    background-size: cover;
    /* height: 380px; */
    /* width: 100vw; */
    margin-top: 0rem;
  }

}

@media only screen and (min-width: 80em) {

  .gray-gradient {
    background-image:
      linear-gradient(to bottom, white 0, white 5em, rgba(255,255,255,0) 5.05em, rgba(255,255,255,0) 100%),
      linear-gradient(to bottom, rgba(255,255,255,0) 0, rgba(255,255,255,0) calc(100% - 5.05em), white calc(100% - 5em), white 100%),
      linear-gradient(to right, rgba(255,255,255,100), rgba(243,243,243,100), rgba(219,218,218,100))
    ;
  }

}


@media only screen and (min-width: 90em) {

  .gray-gradient-objective-xl {
    background-image:
      linear-gradient(to bottom, rgba(255,255,255,0) 0, rgba(255,255,255,0) calc(100% - 14.05em), white calc(100% - 14em), white 100%),
      linear-gradient(to right, rgba(255,255,255,100), rgba(243,243,243,100), rgba(219,218,218,100))
    ;
    background-size: cover;
    /* height: 380px; */
    /* width: 100vw; */
    margin-top: 0rem;
  }

}

.type-gradient {
  background-image: linear-gradient(to right, rgba(75,171,214,100), rgba(141,198,232,100));
}

.branding-gradient {
  background-image: linear-gradient(to top right, rgba(219,218,218,100), rgba(243,243,243,100), rgba(255,255,255,100));
}

.interface-gradient{
  background-image: linear-gradient(to top right, rgba(75,171,214,100), rgba(141,198,232,100));
}

.illustration-gradient {
  background-image: linear-gradient(to top left, rgba(177,244,215,100), rgba(229,255,241,100));
}

.img-size {
  height: 320px;
  width: 320px;
}

.pad-t-extra {
  padding-top: 2rem
}

.pad-left {
  padding-left: 1.5rem;
}

.pad-left-img {
  padding-left: 3rem;
}

.pad-t-img {
  padding-top: 2.3rem
}

@media only screen and (min-width: 25em) {


  .no-pad-b {
    padding-bottom: 0;
  }

  .img-size-s {
    height: 400px;
    width: 400px;
  }

  .pad-left-img-s {
    padding-left: 2rem;
  }

  .pad-t-img-s {
    padding-top: 2.3rem
  }

}

@media only screen and (min-width: 38em) {

  .gray-gradient-m {
    background-image: linear-gradient(to right, rgba(255,255,255,100), rgba(243,243,243,100), rgba(219,218,218,100));
    background-size: cover;
    height: 460px;
    width: 100vw;
    margin-top: 0rem;
  }

  .no-pad-b {
    padding-bottom: 0;
  }

  .img-size-m {
    height: 600px;
    width: 600px;
  }

  .pad-left-img-l {
    padding-left: 3rem;
  }

  .pad-t-img-m {
    padding-top: 2.5rem
  }

  .logo-size-final-m {
    height: 450px;
    width: 450px;
    padding-top: 5rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

}

@media only screen and (min-width: 60em) {

  .jm-max-length {
    margin-left: auto;
    margin-right: auto;
    max-width: 42em;
    width: 100%;
  }

  .img-size-l {
    height: 480px;
    width: 480px;
  }

  .gray-gradient-l {
    background-image: linear-gradient(to right, rgba(255,255,255,100), rgba(243,243,243,100), rgba(219,218,218,100));
    background-size: cover;
    height: 285px;
    width: 100vw;
    margin-top: 5.15rem;
  }

  .no-pad-b {
    padding-bottom: 0;
  }

  .left {
    text-align: left;
  }

  .right {
    text-align: right;
  }

  .pad-t-extra-l {
    padding-top: 4.9rem
  }

  .pad-left-l {
    padding-left: 4rem;
  }

  .pad-right-l {
    padding-right: 2.5rem;
  }

  .pad-left-img-l {
    padding-left: 0rem;
  }

  .pad-t-img-l {
    padding-top: 2.85rem
  }

  .pad-left-2 {
    padding-left: 1.4rem;
  }

  .pad-left-illus {
    padding-left: 2.8rem;
  }

  .pad-right-illus {
    padding-right: 2.8rem;
  }

  .pad-right-2 {
    padding-right: 1.4rem;
  }

  .pad-right-6 {
    padding-right: 6rem;
  }

  .pad-left-6 {
    padding-left: 6rem;
  }

  .margin-r-l {
    margin-right: 1rem;
    margin-bottom: 0;
  }

  .logo-size-final-l {
    height: 420px;
    width: 420px;
    padding-top: 0;
  }

  .jm-island-2 {
    padding: 2.6rem;
  }

  .jm-illus-gutter-2 {
    padding-left: 2.6rem;
    padding-right: 2.6rem;
  }

  .gray-gradient-full {
    background-image: linear-gradient(to top right, rgba(219,218,218,100), rgba(243,243,243,100), rgba(255,255,255,100));
    height: 714px;
  }

  .no-push {
    margin-bottom: 0;
  }

}


@media only screen and (min-width: 90em) {


  .gray-gradient-xl {
    background-image: linear-gradient(to right, rgba(255,255,255,100), rgba(243,243,243,100), rgba(219,218,218,100));
    background-size: cover;
    height: 425px;
    width: 100vw;
    margin-top: 5.15rem;
  }

  .no-pad-b {
    padding-bottom: 0;
  }

  .img-size-xl {
    height: 800px;
    width: 800px;
  }

  .pad-t-extra-xl {
    padding-top: 7.7rem
  }

  .pad-left-xl {
    padding-left: 6rem;
  }

  .pad-left-img-xl {
    padding-left: 3rem;
  }

  .pad-t-img-xl {
    padding-top: 2.15rem
  }

  .pad-right-xl {
    padding-right: 2.5rem;
  }

  .pad-left-4 {
    padding-left: 4rem;
  }

  .pad-left-illus-xl {
    padding-left: 6.6rem;
  }

  .pad-right-illus-xl {
    padding-right: 6.6rem;
  }

  .pad-right-4 {
    padding-right: 4rem;
  }

  .pad-right-10 {
    padding-right: 10rem;
  }

  .pad-left-10 {
    padding-left: 10rem;
  }

  .margin-r-xl {
    margin-right: 4rem;
    margin-bottom: 0;
  }

  .logo-size-final-xl {
    height: 545px;
    width: 545px;
  }

}

@media only screen and (min-width: 156em) {

  .gray-gradient-ilus-xxl {
    background-image:
      linear-gradient(to bottom, rgba(255,255,255,0) 0, rgba(255,255,255,0) calc(100% - 3.05em), white calc(100% - 3em), white 100%),
      linear-gradient(to right, rgba(255,255,255,100), rgba(243,243,243,100), rgba(219,218,218,100)) calc(100% - 3.05em), white calc(100% - 3em), white 100%)
    ;
    background-size: cover;
    margin-bottom: 5rem;
    margin-top: 0rem;
  }

  .illustration-xxl {
    width: 125%;
    margin-right: auto;
    margin-left: auto;
  }

  .pad-left-illus-xxl {
    padding-left: 20rem;
  }

  .questions-pad-b-xxl {
    padding-bottom: 3.9rem;
  }

  .jm-body-xxl {
    font-size: .955rem;
    line-height: 1.5rem;
  }

  .max-length-skills-xxl {
    margin-left: auto;
    margin-right: auto;
    max-width: 42em;
    width: 100%;
  }

  .island-skills-xxl {
    padding: 8.9rem;
  }

  .island-vector-art-xxl {
    padding-top: 0;
    padding-bottom: 2.6rem;
    padding-left: 8.9rem;
    padding-right: 8.9rem;
  }

  .vector-art-no-pad-b-xxl {
    padding-bottom: 0;
    margin-top: 12rem;
  }

  .eighty-xxl {
    width: 85%;
    margin-right: auto;
    margin-left: auto;
  }

}
