input.input {
  border: 2px solid var(--color-primary-blue);
  font-family: var(--font-secondary);
  font-size: 600;
  border-radius: 26px;
  width: 100%;
  padding: .6rem 1rem .6rem 1rem;
  height: auto;
}

input.input:focus {
  border: 2px solid var(--color-primary-dark-blue);
}

textarea {
  border: 2px solid var(--color-primary-blue);
  font-family: var(--font-secondary);
  font-size: 600;
  border-radius: 24px;
  width: 100%;
  padding: 1rem 1rem 1rem 1rem;
}

textarea:focus {
  border: 2px solid var(--color-primary-dark-blue);
}

@media only screen and (min-width: 38em) {

  .jm-kilo {
    font-size: .825rem;
    line-height: 1.3rem;
  }

}
