svg:hover {
  fill: #4babd6;
}

.green {
  background-color: var(--color-tertiary-green);
}

.dark-gray {
  color: var(--color-secondary-dark-gray);
}

.main-blue {
  color: var(--color-primary-blue);
}

.proxy-nova {
  font-family: var(--font-secondary);
}

.semi-bold {
  font-family: var(--font-secondary);
  font-weight: 600;
}
